@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../../dist/fonts/Gilroy-Regular.ttf'),
  url('../../dist/fonts/Gilroy-Regular.woff'),
  url('../../dist/fonts/Gilroy-Regular.woff2'),
  url('../../dist/fonts/Gilroy-Regular.eot');

}