// colors

$primary-color: #333333;
$secondary-color: #5D91D9;;
$alternative-color: #939393;
$bg-color: #AFAFAF;



// font-size

$font-xlg: 45px;
$font-lg: 36px;
$font-md: 22.2px;
$font-xsm: 15px;

$font-primary: 18px;
$font-secondary: 20px;
$font-alternative: 14px;


// line-height

$line-xlg: 56px;
$line-lg: 49px;
$line-md: 30px;
$line-xsm: 18px;

$line-primary: 22px;
$line-secondary: 25px;
$line-alternative: 17px;










